<h3><%= @section.title %></h3>

<div class="col-md-12">
  <% @section.lessons.each do |lesson| %>

    <h4><%= lesson.title %></h4>
    <p><%= lesson.body %></p>
  <% end %>

  <%= link_to 'Add Lesson', new_section_lesson_path(@section) %>

</div>
