<h3><%= @section.title %></h3>

<div class="col-md-12">
  <% @section.lessons.each do |lesson| %>
  <div class="row">
    <h4><%= link_to lesson.title, section_lesson_path(@section, lesson) %><%= lesson.number %></h4>
  </div>
  <% end %>

  <%= link_to 'Add Lesson', new_section_lesson_path(@section) %>

</div>
